page-shoppingcart {
    nav {
        height: 50px;
        display: grid;
        grid-template-columns: [one] auto [two];
        grid-template-rows: [rone] auto [rtwo];
        align-items: center;
        padding: 0 16px;
        margin-bottom: 10px;
    }
    
    .cmt{
        justify-self: center;
        grid-column: one/two;
        grid-row: rone/rtwo;
        color: #0F6B3D;
        font-size: 1.21em;
        font-weight: 500;
    }
    .close{
        justify-self: right;
        grid-column: one/two;
        grid-row: rone/rtwo;
        
    }
    .back{
        justify-self: left;
        grid-column: one/two;
        grid-row: rone/rtwo;
    
    }
    .ion-ios-close-outline:before {
        font-size: 32px;
        margin-left: 0;
    }
    .ion-ios-arrow-back:before{
        font-size: 25px;
    }
    .content{
        min-height: 100vh;
    }
    
    .event{
        padding: 25px 16px;
    }
    .event:not(:last-child){
        border-bottom: 1px solid #DCDCDC;
    }
    .tagger{
        display: grid;
        grid-template-columns: [pic] 100px [name] 37% [price] auto [pend];  ;
        grid-gap: 5px;
        box-sizing: border-box;
    }
    .pm1{
        width:100%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
    .prod{
        font-weight: 700;
        font-size: 12px;
        color: #5B5B5B;
    }
    .price{
        justify-self: right;
        font-weight: 700;
        color: #0F6B3D;
        font-size: 12px;
    }

    .fw{
    width: 100%;
    color: #FFFFFF;
    padding: 20px 0;
    background-color: #0F6B3D;
    position: sticky;
    bottom: 0;
    }

}
