<!--
  Generated template for the ShoppingcartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <nav>
        <ion-icon name="ios-arrow-back" class="back" (tap)="userProvider.back()"></ion-icon>
        <span class="cmt">Shopping Cart</span>
        <ion-icon name="ios-close-outline" class="close" (tap)="userProvider.goToHome()"></ion-icon>
    </nav>
    <div class="content">
        <div align="center">
            <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        </div>

        <ion-list>
            <ion-item-sliding *ngFor="let item of cart">
                <ion-item>
                    <section class="event" >
                        <div class="tagger">
                            <img [src]="item.post.files[0].file" alt="" class="pm1">
                            <div class="prod">
                                {{item.post.caption}}
                                <br>

                                &#x20A6;{{item.post.price}} X {{item.quantity}} <br>
                                Color: {{item.color}} <br>
                                Size : {{item.size}} <br>

                                <!--<p *ngFor="let option of item.options">{{option.name}} : {{option.value}}</p>-->
                            </div>
                            <div class="price">&#x20A6;{{item.total}}</div>
                        </div>
                    </section>


                </ion-item>

                <ion-item-options side="right">
                    <button ion-button color="danger" (tap)="deleteFromCart(item)">
                        <ion-icon name="trash"></ion-icon>
                        Delete
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>


    </div>
    <button class="fw" (tap)="goToOrderNotes()">Checkout</button>

</ion-content>
