@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');
.instruct {
    text-align: center;
    color: #5B5B5B;
    margin-bottom: 50px;
    font-size: 13px;
    font-weight: 500;
}
page-addcard {

    nav {
        height: 50px;
        display: grid;
        grid-template-columns: [one] auto [two];
        grid-template-rows: [rone] auto [rtwo];
        align-items: center;
        margin-bottom: 10px;
    }
    
    .cmt{
        justify-self: center;
        grid-column: one/two;
        grid-row: rone/rtwo;
        color: #0F6B3D;
        font-size: 1.21em;
        font-weight: 500;
    }
    .close{
        justify-self: right;
        grid-column: one/two;
        grid-row: rone/rtwo;
        
    }
    .back{
        justify-self: left;
        grid-column: one/two;
        grid-row: rone/rtwo;
    
    }
    .ion-ios-close-outline:before {
        font-size: 32px;
        margin-left: 0;
    }
    .ion-ios-arrow-back:before{
        font-size: 25px;
    }



    .instruct {
        text-align: center;
        color: #5B5B5B;
        margin-bottom: 50px;
        font-size: 13px;
        font-weight: 500;
    }
    .label{
        padding-bottom: 17px;
        color: #9B9B9B;
        font-size: 10px;
        font-family: 'Poppins';
    }
    input[type=text],input[type=password]{
        border: 0;
        font-size: 14px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        text-align: center;
        padding: 10px 0;
        width: 100%;

    }
    input[type=text]:focus,input[type=text]:active,input[type=text]:hover,
    input[type=password]:focus,input[type=password]:active,input[type=password]:hover{
        box-shadow: 0 0 3px 3px #0F6B3D;
        transition: all ease-in-out 300ms  ;
        -webkit-transition: all ease-in-out 300ms  ;
        -moz-transition: all ease-in-out 300ms  ;
        -ms-transition: all ease-in-out 300ms  ;
        -o-transition: all ease-in-out 300ms  ;
}
    input[type=text]::placeholder,input[type=password]::placeholder{
        color: #9A9A9A;
        font-size: 14px;

    }
    input[type=text]:focus::placeholder,input[type=password]:focus::placeholder{
        box-shadow: 0 0 3px 3px #0F6B3D;
        color: #5B5B5B;
        outline: none;
        opacity: 0;
        transition: all ease-in-out 300ms ;
        -webkit-transition: all ease-in-out 300ms ;
        -moz-transition: all ease-in-out 300ms ;
        -ms-transition: all ease-in-out 300ms ;
        -o-transition: all ease-in-out 300ms ;
}
    
    .form-grouper {
        border-bottom: 1px solid #DCDCDC;
        padding-bottom: 5px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .form-grouper2 {
        display: grid;
        grid-template-columns: 31% 25% 31%;
        grid-gap: 15px;
        justify-content: center;


    }
    .groups{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #DCDCDC;
        padding-bottom: 5px;
    }
    

   
    .bbt {
        width: 80%;
        display: block;
        padding: 20PX 0;
        background-color: #0F6B3D;
        text-align: center;
        margin-top: 110px;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
        font-weight: 400;
        border-radius: 4px ;
        -webkit-border-radius: 4px ;
        -moz-border-radius: 4px ;
        -ms-border-radius: 4px ;
        -o-border-radius: 4px ;
    }
    .bbt:hover,.bbt:active,.bbt:focus{
        background-color: #0F6B48;
        font-weight: 500;
        transition: all ease 300ms;
        -webkit-transition: all ease 300ms;
        -moz-transition: all ease 300ms;
        -ms-transition: all ease 300ms;
        -o-transition: all ease 300ms;
        outline: none;
    }

}
