<!--
  Generated template for the AddcardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
    <nav>
        <ion-icon name="ios-arrow-back" class="back" (tap)="userProvider.back()"></ion-icon>
        <span class="cmt">New Card</span>
        <ion-icon name="ios-close-outline" class="close" (tap)="userProvider.goToHome()"></ion-icon>
    </nav>

    <div *ngIf="!showOtp">
        <div class="instruct">
            Please enter your payment information
        </div>

        <div class="detail-holder">
            <form action="">
                <div class="form-grouper">
                    <span class="label">Card Number</span>
                    <input type="text" placeholder=" XXXX  XXXX  XXXX  XXXX " name="cardNumnber"
                           [(ngModel)]="cardNumber"
                           class="extra">
                </div>
                <div class="form-grouper2">
                    <div class="groups">
                        <span class="label">Expiry Month</span>
                        <input type="text" placeholder="MM" name="expiryMonth" [(ngModel)]="expiryMonth" class="min">
                    </div>
                    <div class="groups">
                        <span class="label">Expiry Year</span>
                        <input type="text" placeholder="MM" name="expiryYear" [(ngModel)]="expiryYear" class="min">
                    </div>
                    <div class="groups">
                        <span class="label">CVV</span>
                        <input type="text" placeholder="XXX" class="min" name="cvv" [(ngModel)]="cvv">
                    </div>

                </div>

                <div class="form-grouper">
                    <span class="label">PIN</span>
                    <input type="password" placeholder=" XXXX " name="pin" [(ngModel)]="pin" class="extra">
                </div>


            </form>
        </div>

        <div align="center">
            <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        </div>

        <button class="bbt" [disabled]="loading" (tap)="addCard()">ADD CARD</button>

    </div>

    <div *ngIf="showOtp">
        <div class="instruct">
            {{paymentMessage}}
        </div>

        <div class="detail-holder">
            <form action="">
                <div class="form-grouper">
                    <span class="label">OTP</span>
                    <input type="text" placeholder=" XXXXXX " name="OTP"
                           [(ngModel)]="otp"
                           class="extra">
                </div>
            </form>
        </div>

        <div align="center">
            <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        </div>

        <button class="bbt" [disabled]="loading" (tap)="authorizePayment()">AUTHORIZE</button>

    </div>



</ion-content>
