
<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="ios-home-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="ios-search-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="ios-add-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="ios-bookmark-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="ios-settings-outline"></ion-tab>
</ion-tabs>
