page-reviews {
  nav {
    height: 50px;
    display: grid;
    grid-template-columns: [one] auto [two];
    grid-template-rows: [rone] auto [rtwo];
    align-items: center;
    padding: 0 16px;
    margin-bottom: 10px;
  }

  .cmt {
    justify-self: center;
    grid-column: one/two;
    grid-row: rone/rtwo;
    color: #0F6B3D;
    font-size: 1.21em;
    font-weight: 500;
  }
  .close {
    justify-self: right;
    grid-column: one/two;
    grid-row: rone/rtwo;

  }
  .back {
    justify-self: left;
    grid-column: one/two;
    grid-row: rone/rtwo;

  }
  .ion-ios-mail-outline:before {
    font-size: 33px;
  }
  .ion-ios-arrow-back:before {
    font-size: 25px;
  }
  .content {
    min-height: 100vh;
  }
  .event {
    margin-bottom: 2.9em;
  }
  .tagger {
    display: grid;
    grid-template-columns: [pic] 40px [name] auto;
    grid-gap: 5px;
  }
  .pm1 {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .comments {
    font-size: 11px;
  }
  .poster {
    font-weight: 700;
  }
  section.type-field {
    position: sticky;
    width: 100%;
    bottom: 0;
    box-shadow: 0px 0px 10px #C0C0C0;
    padding: 0 16px;
    margin-top: auto;
    background-color: #ffffff;
  }
  .holder {
    display: flex;
    align-items: center;
  }
  textarea {
    width: 80%;
    border: 0;
    padding-top: 22px;
    resize: none;
    overflow: auto;

  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
  .icon-holder {
    margin-bottom: 0;
    display: flex;

  }
  .ion-ios-happy-outline:before,
  .ion-md-send:before {
    margin: 0;
    color: #0F6B3D;
    font-size: 30px;
    font-weight: 900;

  }
  .ion-ios-happy-outline:before {
    margin-right: 20px;
  }
  textarea::placeholder {
    font-size: 14px;
    font-weight: 300;
  }
  textarea:focus::placeholder {
    font-size: 0;
    opacity: 0;
    transition: all ease-in-out 200ms;;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
  }
}
