<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
    <!--<nav class="sticky">-->
        <!--<ion-icon name="ios-arrow-back" class="back" (tap)="userProvider.back()"></ion-icon>-->
        <!--<span class="cmt">New message</span>-->
    <!--</nav>-->

    <nav>
        <ion-icon name="ios-arrow-back" class="back" (tap)="userProvider.back()"></ion-icon>
        <span class="cmt">New Message</span>
        <ion-icon name="ios-xx" class="close" (tap)="newMessage()"></ion-icon>
    </nav>

    <div class="search">
        <span class="label">To:</span>
        <input type="search" name="" class="searcher" placeholder="Search">
    </div>

    <ion-list>
        <ion-item>
            <ion-avatar item-start>
                <img src="../assets/imgs/bit.png">
            </ion-avatar>
            <div class="name">Mizz_LAGBAJA</div>
        </ion-item>

            <ion-item>
                <ion-avatar item-start>
                    <img src="../assets/imgs/bit6.png">
                </ion-avatar>
                <div class="name">Lilys World</div>
            </ion-item>

            <ion-item>
                <ion-avatar item-start>
                    <img src="../assets/imgs/bit11.png">
                </ion-avatar>
                <div class="name">Michealson</div>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <img src="../assets/imgs/bit12.png">
                </ion-avatar>
                <div class="name">Unbothered Yisa</div>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <img src="../assets/imgs/bit13.png">
                </ion-avatar>
                <div class="name">Phunmi Show</div>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <img src="../assets/imgs/bit.png">
                </ion-avatar>
                <div class="name">Udoma Suzzan</div>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <img src="../assets/imgs/bit.png">
                </ion-avatar>
                <div class="name">Olaito Funbi</div>
            </ion-item>
        </ion-list>
</ion-content>
