page-message {
  nav {
    height: 50px;
    display: grid;
    grid-template-columns: [one] auto [two];
    grid-template-rows: [rone] auto [rtwo];
    align-items: center;
    margin-bottom: 10px;
  }

  .sticky {
    position: fixed;
  }

  .cmt {
    justify-self: center;
    grid-column: one/two;
    grid-row: rone/rtwo;
    color: #0F6B3D;
    font-size: 1.21em;
    font-weight: 500;
  }
  .close {
    justify-self: right;
    grid-column: one/two;
    grid-row: rone/rtwo;
  }
  .back {
    justify-self: left;
    grid-column: one/two;
    grid-row: rone/rtwo;
  }
  .ion-ios-arrow-back:before {
    font-size: 25px;
  }

  .list-md {
    margin: -1px 0 0px;
  }
  .item-md {
    padding-left: 0;

  }
  .item-md ion-avatar[item-start] {
    margin-right: 12px !important;
  }
  .item-md.item-block .item-inner {
    padding-right: 0;
  }
  .name {
    font-size: 12px;
    font-weight: bold;
  }
  .search {
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 7px;
    margin-bottom: 30px;
  }
  .label {
    font-size: 12px;
  }
  input[type=search] {
    border: 0;
  }
  input[type=search]::placeholder {
    font-size: 12PX;
    opacity: 0.5;
  }
  input[type=search]:focus::placeholder {
    font-size: 0;
    opacity: 0;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
  }


  // added by toby
  .list > .item-block:first-child{
    border:none;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block,
  .list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block{
    border-bottom: none;
  }

  .list .item-block .item-inner{
    border:none;
  }
  // end added by toby
}
