<!--
  Generated template for the OrdernotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
    <nav>
        <ion-icon  name="ios-arrow-back" class="back" (tap)="userProvider.back()" ></ion-icon>
        <span class="cmt">Order Notes</span>
        <ion-icon name="ios-close-outline" class="close" (tap)="goToHome()"></ion-icon>
      </nav>
      <div class="content">
        <div class="instruct" padding>
            Specify Order Instructions <br> (E.g address or alternate phone number)
        </div>
        <div class="address" padding>
            <ion-textarea class="notes" [(ngModel)]="notes" rows="15" placeholder="Enter your order instructions here"></ion-textarea>

        </div>


    </div>
<<<<<<< HEAD
    <button class="fw" (tap)="goToSuccess()">Next</button>
=======
    <button class="fw" (tap)="addOrder()">Next</button>
>>>>>>> 43c85df142951eebb9a1203bc39a86e2fff1589c

</ion-content>
