page-ordernotes {

  nav {
    height: 50px;
    display: grid;
    grid-template-columns: [one] auto [two];
    grid-template-rows: [rone] auto [rtwo];
    align-items: center;
    padding: 0 16px;
    margin-bottom: 10px;
  }

  .cmt {
    justify-self: center;
    grid-column: one/two;
    grid-row: rone/rtwo;
    color: #0F6B3D;
    font-size: 1.21em;
    font-weight: 500;
  }
  .close {
    justify-self: right;
    grid-column: one/two;
    grid-row: rone/rtwo;

  }
  .back {
    justify-self: left;
    grid-column: one/two;
    grid-row: rone/rtwo;

  }
  .ion-ios-close-outline:before {
    font-size: 32px;
    margin-left: 0;
  }
  .ion-ios-arrow-back:before {
    font-size: 25px;
  }
  .content {
    min-height: 100vh;
  }
  .instruct {
    text-align: center;
    color: #5B5B5B;
    margin-bottom: 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #DCDCDC;
    font-size: 13px;
  }
  .instruct::after {
    content: "";
    padding: 0 16px;
  }
  .address {
    text-align: left;
    color: #5B5B5B;
    font-size: 13px;
  }
  .fw {
    width: 100%;
    color: #FFFFFF;
    padding: 20px 0;
    background-color: #0F6B3D;
    position: sticky;
    bottom: 0;
  }

}
