    /*
    Flaticon icon font: Flaticon
    Creation date: 18/12/2018 15:02
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-shopping-bag:before { content: "\f100"; }
.flaticon-avatar:before { content: "\f101"; }
.flaticon-right-arrow:before { content: "\f102"; }
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before { content: "\f103"; }
.flaticon-star:before { content: "\f104"; }
.flaticon-star-1:before { content: "\f105"; }
    
    $font-Flaticon-shopping-bag: "\f100";
    $font-Flaticon-avatar: "\f101";
    $font-Flaticon-right-arrow: "\f102";
    $font-Flaticon-chat-comment-oval-speech-bubble-with-text-lines: "\f103";
    $font-Flaticon-star: "\f104";
    $font-Flaticon-star-1: "\f105";