	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/12/2018 15:02
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-shopping-bag:before { content: "\f100"; }
.flaticon-avatar:before { content: "\f101"; }
.flaticon-right-arrow:before { content: "\f102"; }
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before { content: "\f103"; }
.flaticon-star:before { content: "\f104"; }
.flaticon-star-1:before { content: "\f105"; }