@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?28e23q');
  src:  url('fonts/icomoon.eot?28e23q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?28e23q') format('truetype'),
    url('fonts/icomoon.woff?28e23q') format('woff'),
    url('fonts/icomoon.svg?28e23q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-new:before {
  content: "\e900";
}
.icon-settings:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-moodboard:before {
  content: "\e904";
}
