page-productsearch {
    nav {
        height: 50px;
        display: grid;
        grid-template-columns: [one] auto [two];
        grid-template-rows: [rone] auto [rtwo];
        align-items: center;
        margin-bottom: 10px;
    }

    .cmt{
        justify-self: center;
        grid-column: one/two;
        grid-row: rone/rtwo;
        color: #0F6B3D;
        font-size: 1.21em;
        font-weight: 500;
    }
    .close{
        justify-self: right;
        grid-column: one/two;
        grid-row: rone/rtwo;

    }
    .back{
        justify-self: left;
        grid-column: one/two;
        grid-row: rone/rtwo;

    }
    .ion-md-search:before {
        font-size: 25px;
        margin-left: 0;
        color: #0F6B3D;
    }


    .segment-ios
    .segment-md .segment-button{
        border: none !important;
    }
    .segment-ios:hover,.segment-ios:active,
    .segment-ios:focus,
    .segment-md:hover .segment-button:hover,
    .segment-md:active .segment-button:active,
    .segment-md:focus .segment-button:focus{
        border: none !important;
    }
    ion-segment-button.event.segment-button {
        border: none;
    }
    .tabs,.upcoming,.show{
        display: grid !important;

    }
    .bordered{
        border: 0.5px solid #0F6B3D !important;
        border-radius: 20px !important;
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        -ms-border-radius: 20px !important;
        -o-border-radius: 20px !important;
        z-index: 10 !important;
        color: #0F6B3D !important;

}
    .event{
    color: #0F6B3D !important;
    font-weight: 500 !important;
    opacity: 1 !important ;
    outline: none !important;
    padding: 0 !important;
    display: block;

    }
  .segment-ios .segment-button.segment-activated, .segment-md .segment-button.segment-activated{
    outline: none !important;
    background-color: #0F6B3D !important;
    color: #ffffff !important;
    border-radius: 20px !important;
    transition: all ease-in-out 300ms !important;
    -webkit-transition: all ease-in-out 300ms !important;
    -moz-transition: all ease-in-out 300ms !important;
    -ms-transition: all ease-in-out 300ms !important;
    -o-transition: all ease-in-out 300ms !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
   .gallery{
       margin-top: 28px;
       display: grid;
       grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
       grid-gap: 5px;
   }
   .full{
       width: 100%;
   }
   .upcoming{
       margin-top: 28px;
   }
   .show{
       margin-bottom: 30px;
   }
   .title{
     color: #5B5B5B;
     font-weight: bold;
     font-size: 12px;
     text-align: left;
     margin-bottom: 10px;
   }
   .comment{
     margin-top: 10px;
     color: #5B5B5B;
     font-size: 11px;
     text-align: left;
   }

}
