<!--
  Generated template for the ProductsearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
    <nav>
        <img src="../assets/imgs/cimg.jpg" class="cmt">
        <ion-icon name="search" class="close"></ion-icon>
    </nav>
    <div class="tabs">
        <ion-segment [(ngModel)]="section" class="bordered">
            <ion-segment-button value="Products" class="event">
                Products
            </ion-segment-button>
            <ion-segment-button value="Events" class="event">
                Events
            </ion-segment-button>
        </ion-segment>
        <div [ngSwitch]="section">
            <ion-list *ngSwitchCase="'Products'">

                <div class="gallery">
                    <img *ngFor="let post of posts" (tap)="goToPost(post)" [src]="post.files[0].file" alt=""
                         class="full">
                    <img src="../assets/imgs/bit21.png" alt="" class="full">
                    <img src="../assets/imgs/bit22.png" alt="" class="full">
                    <img src="../assets/imgs/bit23.png" alt="" class="full">
                    <img src="../assets/imgs/bit24.png" alt="" class="full">
                    <img src="../assets/imgs/bit25.png" alt="" class="full">
                    <img src="../assets/imgs/bit26.png" alt="" class="full">
                    <img src="../assets/imgs/bit27.png" alt="" class="full">
                    <img src="../assets/imgs/bit28.png" alt="" class="full">
                    <img src="../assets/imgs/bit29.png" alt="" class="full">
                    <img src="../assets/imgs/bit30.png" alt="" class="full">
                    <img src="../assets/imgs/bit31.png" alt="" class="full">
                    <img src="../assets/imgs/bit32.png" alt="" class="full">
                    <img src="../assets/imgs/bit33.png" alt="" class="full">
                    <img src="../assets/imgs/bit34.png" alt="" class="full">
                    <img src="../assets/imgs/bit35.png" alt="" class="full">
                    <img src="../assets/imgs/bit36.png" alt="" class="full">
                    <img src="../assets/imgs/bit37.png" alt="" class="full">
                    <img src="../assets/imgs/bit38.png" alt="" class="full">
                    <img src="../assets/imgs/bit39.png" alt="" class="full">
                    <img src="../assets/imgs/bit40.png" alt="" class="full">
                </div>
            </ion-list>
            <ion-list *ngSwitchCase="'Events'">
                <section class="upcoming">
                    <div class="show" *ngFor="let event of events">
                        <h6 class="title">{{event.name}}</h6>
                        <img *ngIf="!event.images" src="assets/imgs/default.jpg" alt="" class="full">
                        <img *ngIf="event.images" [src]="event.image" alt="" class="full">
                        <div class="comment">
                            {{event.description}}
                        </div>
                    </div>
                    <div class="show">
                        <h6 class="title">The Food Expo - Festive Edition</h6>
                        <img src="../assets/imgs/bit41.png" alt="" class="full">
                        <div class="comment">
                            Chilli-Red Laporte Bag. All the way from the United States of America. This Bag is hawt,
                            limted is simply dummy…
                        </div>
                    </div>
                    <div class="show">
                        <h6 class="title">The Fusion Lifestyle - Family Fair</h6>
                        <img src="../assets/imgs/bit42.png" alt="" class="full">
                        <div class="comment">
                            Chilli-Red Laporte Bag. All the way from the United States of America. This Bag is hawt,
                            limted is simply dummy…
                        </div>
                    </div>

                    <div class="show">
                        <h6 class="title">The Fusion Lifestyle - Family Fair</h6>
                        <img src="../assets/imgs/bit42.png" alt="" class="full">
                        <div class="comment">
                            Chilli-Red Laporte Bag. All the way from the United States of America. This Bag is hawt,
                            limted is simply dummy…
                        </div>
                    </div>
                </section>
            </ion-list>
        </div>
    </div>
</ion-content>
