<!--
  Generated template for the CustomizePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
<<<<<<< HEAD
  <nav>
    <span class="cmt">Customize</span>
    <ion-icon name="ios-close-outline" class="close"></ion-icon>
  </nav>
  <div class="content"padding>
  <section class="event">
    <div class="tagger">
        <img src="../assets/imgs/bit17.png" alt="" class="pm1">
        <div class="prod">
          Red Adorable Dolce & Gabbanna bag with 3 lovely pieces
        </div>
        <div class="price">N13,890</div>
        </div>
  </section>
  <section class="customizer">
    <form action="">
      <div class="form-grouper">
        <span class="label">Size</span>
        <select name="sizes" class="sizes"  >
          <option value="Select Size">Select Size</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>
        <div class="form-grouper">
          <span class="label">Colour</span>
          <select name="color" class="sizes">
            <option value="Choose Colour">Choose Colour</option>
            <option value="red">red</option>
            <option value="blue">blue</option>
            <option value="green">green</option>
            <option value="white">white</option>
            <option value="black">black</option>
        </select>
      </div>
      <div class="form-grouper">
        <span class="label">Quantity</span>
        <input type="text" name="" id="" placeholder="Enter Quantity">
      </div>
    </form>
  </section>
</div>
<button class="fw" (tap)="addToCart()">Add to Cart</button>
=======
    <nav>
        <span class="cmt">Customize</span>
        <ion-icon name="ios-close-outline" class="close" (tap)="userProvider.back()"></ion-icon>
    </nav>
    <div class="content" padding>
        <section class="event">
            <div class="tagger">
                <img [src]="post.files[0].file" alt="" class="pm1">
                <div class="prod">
                    {{post.caption}}
                </div>
                <div class="price">N{{post.price}}</div>
            </div>
        </section>
        <section class="customizer">
            <form action="">
                <div class="form-grouper">
                    <span class="label">Size</span>
                    <select name="size" [(ngModel)]="size" class="sizes">
                        <option value="Select Size">Select Size</option>
                        <option *ngFor="let size of sizes">{{size}}</option>
                    </select>
                </div>
                <div class="form-grouper">
                    <span class="label">Colour</span>
                    <select name="color" [(ngModel)]="color" class="sizes">
                        <option value="Choose Colour">Choose Colour</option>
                        <option *ngFor="let color of colors">{{color}}</option>
                    </select>
                </div>
                <div class="form-grouper" *ngFor="let option of options; let i = index">
                    <span class="label">{{option.name}}</span>
                    <select [name]="option.name" [(ngModel)]="selectedOptions[i].value" class="sizes">
                        <option >Choose {{option.name}}</option>
                        <option *ngFor="let value of option.value">{{value}}</option>
                    </select>
                </div>
                <div class="form-grouper">
                    <span class="label">Quantity</span>
                    <input type="text" name="quantity" [(ngModel)]="quantity" id="" placeholder="Enter Quantity">
                </div>
            </form>
        </section>
    </div>
    <div align="center">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
    </div>

    <button class="fw" (tap)="addToCart()" [disabled]="loading">Add to Cart</button>
>>>>>>> 43c85df142951eebb9a1203bc39a86e2fff1589c

</ion-content>
