page-customize {
    nav {
        height: 50px;
        display: grid;
        grid-template-columns: [one] auto [two];
        grid-template-rows: [rone] auto [rtwo];
        align-items: center;
        padding: 0 16px;
        margin-bottom: 10px;
    }
    
    .cmt{
        justify-self: center;
        grid-column: one/two;
        grid-row: rone/rtwo;
        color: #0F6B3D;
        font-size: 1.21em;
        font-weight: 500;
    }
    .close{
        justify-self: right;
        grid-column: one/two;
        grid-row: rone/rtwo;
        
    }
    .back{
        justify-self: left;
        grid-column: one/two;
        grid-row: rone/rtwo;
    
    }
    .ion-ios-close-outline:before {
        font-size: 32px;
        margin-left: 0;
    }
    .content{
        min-height: 100vh;
    }
    .event{
        margin-bottom: 2.9em;
    }
    .tagger{
        display: grid;
        grid-template-columns: [pic] 100px [name] 37% [price] auto [pend];  ;
        grid-gap: 5px;
        box-sizing: border-box;
    }
    .pm1{
        width:100%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
    .prod{
        font-weight: 700;
        font-size: 12px;
        color: #5B5B5B;
    }
    .price{
        justify-self: right;
        font-weight: 700;
        color: #0F6B3D;
        font-size: 12px;
    }
    .form-grouper{
        border-bottom: 1px solid #EBEBEB;
        border-top: 1px solid #EBEBEB;
        padding: 20px 0;
        display: grid;
        grid-template-columns: 40% 50%;
    }
    .label{
        color: #5B5B5B;
        font-size: 12px;
        font-weight: 500;
        justify-self: center;

    }
    select,input[type=text] {
        color: #ACACAC;
        font-size: 12px;
        border: 0;
    }
    
    input[type=text]::placeholder{
        color: #ACACAC;
        opacity: 0.5;
    }
    input[type=text]:focus{
        font-weight: 400;
        color: #5B5B5B;
        transition: all ease-in 300ms;
        -webkit-transition: all ease-in 300ms;
        -moz-transition: all ease-in 300ms;
        -ms-transition: all ease-in 300ms;
        -o-transition: all ease-in 300ms;
    }
    input[type=text]:focus::placeholder{
        opacity: 0;
        font-size: 0;
        transition: all ease-in 300ms;    ;
        -webkit-transition: all ease-in 300ms    ;
        -moz-transition: all ease-in 300ms    ;
        -ms-transition: all ease-in 300ms    ;
        -o-transition: all ease-in 300ms    ;
        
    }
    select{
        appearance: none;
        -moz-appearance: none;
        -ms-progress-appearance: none;
        -webkit-appearance: none;
        background: url(../assets/imgs/down-arrow.png) no-repeat 95% center;
        transition: all ease-out 300ms;
        -webkit-transition: all ease-out 300ms;
        -moz-transition: all ease-out 300ms;
        -ms-transition: all ease-out 300ms;
        -o-transition: all ease-out 300ms;
}
    select:focus{
        font-weight: 400;
        color: #5B5B5B;
        transition: all ease-in 300ms;
        -webkit-transition: all ease-in 300ms;
        -moz-transition: all ease-in 300ms;
        -ms-transition: all ease-in 300ms;
        -o-transition: all ease-in 300ms;
}
    .fw{
    width: 100%;
    color: #FFFFFF;
    padding: 20px 0;
    background-color: #0F6B3D;
    position: sticky;
    bottom: 0;
    }
    
}
