

<ion-content padding>
  <section class="content">
      <img src="../assets/imgs/ciarlogo.svg" alt="" class="logo1">
      <img src="../assets/imgs/logo2.svg" alt="" class="logo1">
  </section>


</ion-content>
