page-mood {


  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  //.mood img{
  //  max-height: 200px;
  //}
  //.mood .mhead{
  //  font-weight: 900;
  //  text-align: center;
  //}
  //
  //.mood .count{
  //  text-align: center;
  //}


}
//.mood-grid {
//  width: 100%;
//  border-radius: 10px;
//}
