page-inbox {
  nav {
    height: 50px;
    display: grid;
    grid-template-columns: [one] auto [two];
    grid-template-rows: [rone] auto [rtwo];
    align-items: center;
    margin-bottom: 10px;
  }

  .cmt {
    justify-self: center;
    grid-column: one/two;
    grid-row: rone/rtwo;
    color: #0F6B3D;
    font-size: 1.21em;
    font-weight: 500;
  }
  .close {
    justify-self: right;
    grid-column: one/two;
    grid-row: rone/rtwo;

  }
  .back {
    justify-self: left;
    grid-column: one/two;
    grid-row: rone/rtwo;

  }
  .ion-ios-add:before {
    font-size: 28px;
    font-weight: 700;
  }
  .ion-ios-arrow-back:before {
    font-size: 25px;
  }

  .list-md {
    margin: -1px 0 0px;
  }
  .item-md {
    padding-left: 0;

  }
  .item-md ion-avatar[item-start] {
    margin-right: 12px !important;
  }
  .item-md.item-block .item-inner {
    padding-right: 0;
  }
  .name {
    font-size: 12px;
    font-weight: bold;

  }
  .profile {
    line-height: 18px;
  }
  .mdetail {
    display: grid;
    grid-template-columns: 70% 15% 15%;
  }
  .lm {
    justify-self: left;
    font-size: 10px;
    align-self: flex-end
  }
  .mt {
    justify-self: center;
    font-size: 12px;
    align-self: center;
  }
  .more {
    justify-self: right;
    font-size: 20px;
  }

  // added by toby

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block,
  .list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block{
    border-bottom: none;
  }

  .list .item-block .item-inner{
    border:none;
  }

  .item-inner:hover{
    //background-color: #4C5B5C;
  }

  // end added by toby
}
