<!--
  Generated template for the InboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
    <nav>
        <ion-icon name="ios-arrow-back" class="back" (tap)="userProvider.back()"></ion-icon>
        <span class="cmt">Inbox</span>
        <ion-icon name="ios-add" class="close" (tap)="newMessage()"></ion-icon>
    </nav>
    <ion-list>
        <ion-item-sliding #item *ngFor="let user of messageUsers">
            <ion-item>
                <ion-avatar item-start class="avi">
                    <img src="../assets/imgs/bit.png">
                </ion-avatar>
                <div class="profile">
                    <span class="name">{{user.name}}</span>
                    <div class="mdetail">
                        <span class="lm">{{user.lastMessage.content}}</span>
                        <span class="mt">{{user.lastMessage.since}}</span>
                        <ion-icon name="md-more" class="more"></ion-icon>
                    </div>
                </div>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button >report</button>
                <button ion-button color="danger" (click)="share(item)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>

        <!--<ion-item-sliding #item>-->
            <!--<ion-item>-->
                <!--<ion-avatar item-start class="avi">-->
                    <!--<img src="../assets/imgs/bit6.png">-->
                <!--</ion-avatar>-->
                <!--<div class="profile">-->
                    <!--<span class="name">Mizz_LAGBAJA</span>-->
                    <!--<div class="mdetail">-->
                        <!--<span class="lm">Why so expensive though??!</span>-->
                        <!--<span class="mt">2m</span>-->
                        <!--<ion-icon name="md-more" class="more"></ion-icon>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</ion-item>-->
            <!--<ion-item-options side="right">-->
                <!--<button ion-button (click)="favorite(item)">report</button>-->
                <!--<button ion-button color="danger" (click)="share(item)">Delete</button>-->
            <!--</ion-item-options>-->
        <!--</ion-item-sliding>-->


    </ion-list>
</ion-content>
