<ion-content padding>
    <nav>
        <ion-icon name="ios-mail-outline" class="back" (tap)="goToMessages()"></ion-icon>
        <img src="../assets/imgs/cimg.jpg" alt="" class="cmt" (tap)="goToProductSearch()">
        <ion-icon  name="ios-cart-outline" class="close" (tap)="goToCart()"></ion-icon>
    </nav>

    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content
                refreshingSpinner="circles"
                pullingText="Pull to refresh"
                refreshingText="Loading posts...">

        </ion-refresher-content>
    </ion-refresher>
    <div align="center">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
    </div>

    <p class="noimage" *ngIf="posts.length <= 0">Nothing here yet. Follow someone :)</p>

    <section class="event" *ngFor="let post of posts">
        <div class="tagger">
            <img src="../assets/imgs/bit.png" alt="" class="pm1">
            <div class="profile">
                <h4 class="pname">{{post.customer.name}}</h4>
                <div class="ptime">{{post.since}}</div>
            </div>
            <ion-icon name="ios-more" class="more" (tap)="options()"></ion-icon>
        </div>
        <ion-slides (tap)="goToDetails(post)" class="post-slides" pager="false" *ngIf="post.files.length > 0">
            <ion-slide pager *ngFor="let file of post.files">
                <img [src]="file.file" class="upload"/>
            </ion-slide>
        </ion-slides>

        <!--<img (tap)="goToDetails()" src="../assets/imgs/bit2.png" alt="" class="upload">-->
        <div class="icon-holder">

            <span class="heart">
                <ion-icon name="heart" *ngIf="!likeLoading && post.isLiked" color="danger"
                          (tap)="unlike(post.pid)"></ion-icon>
                <ion-icon name="heart-outline" (tap)="like(post.pid)" *ngIf="!likeLoading && !post.isLiked"></ion-icon>
                <ion-spinner *ngIf="likeLoading"></ion-spinner>
                <span class="count">{{post.likes.length}}</span>
            </span>

            <span *ngIf="post.isProduct == 1" class="flat">
                <ion-icon
                        name="ios-chatbubbles-outline"
                   (tap)="goToReviews(post)"></ion-icon>

                <span class="count">{{post.noOfReviews}}</span></span>

            <span *ngIf="post.isProduct == 0" class="flat">
                <ion-icon name="ios-chatbubbles-outline"
                    (tap)="goToComments(post)">
                </ion-icon>
                <span class="count">{{post.noOfComments}}</span></span>
            <span class="flat"><ion-icon name="ios-bookmark-outline" (tap)="saveToMood(post.pid)"></ion-icon></span>
            <button class="price" *ngIf="post.isProduct == 1">&#x20A6;{{post.price}}</button>
        </div>
        <div class="comments">
            <span class="poster">{{post.customer.name}}</span>
            <span class="comm">{{post.caption}}</span>
        </div>
    </section>


</ion-content>
