page-home {
  .noimage{
    text-align: center;
    margin-top:30vh;
  }

  nav {
    height: 50px;
    display: grid;
    grid-template-columns: [one] auto [two];
    grid-template-rows: [rone] auto [rtwo];
    align-items: center;
    margin-bottom: 10px;
}

.cmt{
    justify-self: center;
    grid-column: one/two;
    grid-row: rone/rtwo;
    color: #0F6B3D;
    font-size: 1.21em;
    font-weight: 500;
}
.close{
    justify-self: right;
    grid-column: one/two;
    grid-row: rone/rtwo;

}
.back{
    justify-self: left;
    grid-column: one/two;
    grid-row: rone/rtwo;

}
nav ion-icon:before {
    font-size: 22px;
    margin-left: 0;
}
.ion-ios-mail-outline:before {
    font-size: 33px;
}


.event{
    margin-bottom: 2em;
}
.tagger{
    display: grid;
    grid-template-columns: [pic] 40px [name] auto [price] 70px ;
    grid-gap: 5px;
}
.pm1{
    width:100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.profile{
    justify-self: left;
    align-self: center;
}
.more{
    justify-self: right;
}
.price{
    font-size: 11px;
    background-color: #0F6B3D;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    justify-self: right;
    padding: 5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: bold;
}
.ngn{
    font-size: 11px;
}
.ptime{
    color: #9B9B9B;
    font-size: 10px;
}
.pname{
    margin: 0px;
    font-size: 14px;
    color:  #4A4A4A;
    line-height: normal;
}
.upload{
    margin-top: 12px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 5px;
}
ion-icon::before {
    display: inline-block;
    margin-right: 5px;
    font-size: 23px;
}
.heart:hover .ion-md-heart-outline:before,.heart:active .ion-md-heart-outline:before {
    color: #FF6265;
    content: "\f308";
    text-decoration: none;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
}
.flat:hover .flaticon-star:before,.flat:hover .flaticon-star:before {
    color: #FFD700;
    content: "\f105";
    text-decoration: none;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;

}
.flat:hover .flaticon-chat-comment-oval-speech-bubble-with-text-lines:before,
.flat:hover .flaticon-chat-comment-oval-speech-bubble-with-text-lines:before {
    color:#0F6B3D;
    text-decoration: none;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;

}

a,{
    text-decoration: none;
    color: unset;
}
a:active,a:hover{
    text-decoration: none;
    color: unset;
}
.icon-holder{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 20% 20% 15% 45%;
    align-items: center;
}
.icon-holder a{
    display: flex;
    align-items: center;
}
.count{
    font-size: 12px;
    font-weight: 300;
    color: #9A9A9A;
    vertical-align: super;
}
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before,
.flaticon-star:before {
    margin-left: 0;
    margin-right: 5px;
    display: inline-block;
}
.comments{
    font-size: 11px;
}
.poster{
    font-weight: 700;
}
}
