<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
  <div class="logo" padding>
    <img src="../assets/imgs/logo3.svg" alt="">
  </div>
  <!-- bootstrap tab -->
  <ul class="nav nav-pills mb-3 menu" id="pills-tab" role="tablist">
      <li class="nav-item submenu">
        <a class="link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">SIGN IN</a>
      </li>
      <li class="nav-item submenu">
        <a class=" link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">SIGN UP</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" padding>
          <section>
              <form id="form" action="">
                <div class="form-group">
                  <input type="text" placeholder="Email" name="email" [(ngModel)]="email" >
                  <ion-icon name="ios-person-outline" class="rotate"></ion-icon>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" [(ngModel)]="password">
                    <ion-icon name=ios-key-outline class="rotate"></ion-icon>
                  </div>
                  <a href="">Forgot Password?</a>
              </form>
              <div align="center">
                  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
              </div>

              <button class="signin" [disabled]="loading"  (tap)="signIn()">SIGN IN</button>
              <!--<button class="fblog">Login with Facebook</button>-->

            </section>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" padding>
        <section>
          <span href=""class="signup user"  (tap)="user()" >
            <i class="flaticon-avatar"></i>
            <span>Signup as User</span>
            <ion-icon name='ios-arrow-forward'></ion-icon>
          </span>
          <span  class="signup seller"  (tap)="seller()">
            <i class="flaticon-shopping-bag"></i>
            <span>Sign up as Seller</span>
            <ion-icon name='ios-arrow-forward'></ion-icon>
          </span>
      </section>
      </div>
    </div>
</ion-content>
