@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body{
    font-family: 'Open Sans'
}

page-signin {
    ion-navbar.toolbar {
        display: none;
    }
    a {
        text-decoration: none;
        color: unset;
    }
    img {
        width: unset;
    }
    .logo {
        margin: 2em 0;
    }
    .menu {
        margin-left: 16px;
        display: grid;
        grid-template-columns: 40% 40%;
        border-bottom: 1px solid #0F6B3D;
        list-style-type: none;
    }
    .submenu{
        text-align: left;
    }
    .link{
        font-size: 1em;
        color: #ACACAC;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        padding-bottom: 0.88em;
    }
    .link:hover{
        color: #0F6B3D;
        border-bottom: 2px solid #0F6B3D;
        transition: all ease-in-out 300ms;    ;
        -webkit-transition: all ease-in-out 300ms    ;
        -moz-transition: all ease-in-out 300ms    ;
        -ms-transition: all ease-in-out 300ms    ;
        -o-transition: all ease-in-out 300ms    ;
    }
    .link:active,.link.active{
        color: #0F6B3D;
        border-bottom: 2px solid #0F6B3D;
        transition: all ease-in-out 300ms;    ;
        -webkit-transition: all ease-in-out 300ms    ;
        -moz-transition: all ease-in-out 300ms    ;
        -ms-transition: all ease-in-out 300ms    ;
        -o-transition: all ease-in-out 300ms    ;
    }
    .form-group{
        border-bottom: 1px solid #DCDCDC;
        padding: 0.88em;
        display: flex;
        align-items: center;
        position: relative;
    }
    input {
        border: 0;
        width: 100%;
        margin-left: 1.5em;
    }
    input:focus::placeholder{
        opacity: 0;
        transition: all ease-in-out 300ms;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
    }
      input:focus + .rotate {
        color: #0F6B3D;
        transition: all ease-in-out 300ms;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
    }
    .rotate {
        display: inline-block;
        font-size: 2.2em;
        position: absolute;
        left: 0;
    }

    form a{
        display: block;
        text-align: right;
        margin-top: 1.38em;
        margin-bottom: 4.2em;
        color: #5B5B5B;
        font-weight: 600;
        font-size: 0.88em;
    }
    form a:hover ,form a:active{
        color: #0F6B3D;
        transition: all ease-in-out 200ms;
        -webkit-transition: all ease-in-out 200ms;
        -moz-transition: all ease-in-out 200ms;
        -ms-transition: all ease-in-out 200ms;
        -o-transition: all ease-in-out 200ms;
    }
    button{
        margin-bottom: 1.50em;
        text-align: center;
        display: block;
        padding: 1em 0;
        width: 100%;
        color: #ffffff;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    .signin{
       background-color: #0F6B3D;
    }
    .fblog{
        background-color: #39579B;
    }

    //sign up page
    .signup{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        padding: 2.50em 0;
        align-items: center;
        text-decoration: none;

    }
    .user{
        border-bottom: 1px solid #DCDCDC;
    }
    .flaticon-avatar:before,.flaticon-shopping-bag:before{
        margin-left: 0;
        font-size: 1.88em;
    }
    .ion-ios-arrow-forward:before{
        margin-right: 0;
        font-size: 1.25em;
    }
    .icon.icon-md.ion-ios-arrow-forward {
        justify-self: right;
    }
    .signup:hover .flaticon-avatar:before,
    .signup:focus .flaticon-avatar:before,
    .signup:active .flaticon-avatar:before {
        color: #0F6B3D;
        transition: all ease-in-out 200ms ;
        -webkit-transition: all ease-in-out 200ms ;
        -moz-transition: all ease-in-out 200ms ;
        -ms-transition: all ease-in-out 200ms ;
        -o-transition: all ease-in-out 200ms ;
    }
    .signup:active .flaticon-shopping-bag:before,
    .signup:hover .flaticon-shopping-bag:before,
   .signup:focus .flaticon-shopping-bag:before {
    color: #0F6B3D;
    transition: all ease-in-out 200ms ;
    -webkit-transition: all ease-in-out 200ms ;
    -moz-transition: all ease-in-out 200ms ;
    -ms-transition: all ease-in-out 200ms ;
    -o-transition: all ease-in-out 200ms ;

   }
    .signup:focus .ion-ios-arrow-forward:before,
    .signup:hover .ion-ios-arrow-forward:before,
    .signup:active .ion-ios-arrow-forward:before{
        color: #0F6B3D;
        transition: all ease-in-out 200ms ;
        -webkit-transition: all ease-in-out 200ms ;
        -moz-transition: all ease-in-out 200ms ;
        -ms-transition: all ease-in-out 200ms ;
        -o-transition: all ease-in-out 200ms ;

    }
    .signup:focus span,
    .signup:hover span,
    .signup:active span{
        color: #5B5B5B;
        transition: all ease-in-out 200ms ;
        -webkit-transition: all ease-in-out 200ms ;
        -moz-transition: all ease-in-out 200ms ;
        -ms-transition: all ease-in-out 200ms ;
        -o-transition: all ease-in-out 200ms ;
    }


}
