page-post {
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,700');

.content{
    height: 100%;
    font-family: 'Poppins';
    background-color: black;
    color: #ffffff;
}   
.poster {
    background:url(../assets/imgs/post.jpeg) center center no-repeat ;
    height: 80%;
    background-size: 90%;
    width: 100%;
    position: relative;
}
nav {
    padding: 10px 16px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ion-ios-arrow-back:before {
    font-size: 26px;
}
.profile{
    display: grid;
    grid-template-columns: 30px auto;
    grid-gap: 10px;
}
.avi{
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.tag {

}
.time{
    font-weight: 200;
    font-size: 8px;
}
.dot{
    height: 6px;
    width: 6px;
    background-color: #0F6B3D;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}
.caption{
    position: absolute;
    padding: 0 5%;;
    bottom: 0;
    width: 100%;
}
.capt{
    resize: none;
    font-size: 14px;
    color: #ffffff;
    width: 100%;
    background-color: unset;
    border: none;
    padding: 0;
    height: 100%;
}
.capt::placeholder{
    color: #ffffff;
}
.capt:focus::placeholder {
    opacity: 0;
    transition: all ease-in-out 200ms;;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
}
.holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ion-md-add-circle:before {
    color: #0F6B3D;
    font-size: 60px;
}

}
