<!--
  Generated template for the PostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="content">
    <nav>
      <ion-icon name="ios-arrow-back"></ion-icon>
      <div class="profile">
          <img src="../assets/imgs/bit44.png" alt="" class="" class="avi">
          <div class="tag">
              <div class="dot"></div>
              <span class="time">22min ago</span>
          </div>
        </div>
    </nav>
    
  <div class="poster">
    <div class="caption">
      <textarea name="" class="capt" placeholder="Add caption here"></textarea>
    </div>
  </div>
  <div class="holder">
      <ion-icon name="add-circle"></ion-icon>
    </div>
</div>

</ion-content>
