page-payment {
    nav {
        height: 50px;
        display: grid;
        grid-template-columns: [one] auto [two];
        grid-template-rows: [rone] auto [rtwo];
        align-items: center;
        padding: 0 16px;
        margin-bottom: 10px;
    }
    
    .cmt{
        justify-self: center;
        grid-column: one/two;
        grid-row: rone/rtwo;
        color: #0F6B3D;
        font-size: 1.21em;
        font-weight: 500;
    }
    .close{
        justify-self: right;
        grid-column: one/two;
        grid-row: rone/rtwo;
        
    }
    .back{
        justify-self: left;
        grid-column: one/two;
        grid-row: rone/rtwo;
    
    }
    .ion-ios-close-outline:before {
        font-size: 32px;
        margin-left: 0;
    }
    .ion-ios-arrow-back:before{
        font-size: 25px;
    }
    .content{
        min-height: 100vh;
    }
    .instruct {
        text-align: center;
        color: #5B5B5B;
        margin-bottom: 75px;
        font-size: 13px;
    }
    .cd{
        opacity: 0.5;
        padding: 20px 24px;
        color: #5B5B5B;
        background-color: #F3F3F3;
        display: grid;
        grid-template-columns: 35% auto;
        align-items: center;
        justify-items: left;
        margin-bottom:15px;
        border-radius: 4px;    ;
        -webkit-border-radius: 4px    ;
        -moz-border-radius: 4px    ;
        -ms-border-radius: 4px    ;
        -o-border-radius: 4px    ;
}
    .cd:focus,.cd:hover,.cd:active{
        opacity: 1;
        box-shadow: 0 0 3px 3px #0F6B3D;
        transition: all ease-in-out 300ms;    ;
        -webkit-transition: all ease-in-out 300ms    ;
        -moz-transition: all ease-in-out 300ms    ;
        -ms-transition: all ease-in-out 300ms    ;
        -o-transition: all ease-in-out 300ms    ;
}
    .space{
        margin-bottom:70px;
    }
    .new{
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 10px 20px;
        color: #0F6B3D;
        background-color: #ffffff;
        border: 1px solid #0F6B3D;
        border-radius: 14px; 
    }
    .new:hover,.new:active,.new:focus{
        color: #ffffff;
        background-color: #0F6B3D;
        transition: all ease-in-out 300ms;    ;
        -webkit-transition: all ease-in-out 300ms    ;
        -moz-transition: all ease-in-out 300ms    ;
        -ms-transition: all ease-in-out 300ms    ;
        -o-transition: all ease-in-out 300ms    ;
        outline: none;
    }

    .fw{
    width: 100%;
    color: #FFFFFF;
    padding: 20px 0;
    background-color: #0F6B3D;
    position: sticky;
    bottom: 0;
    }

}
