<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
    <nav>
        <ion-icon name="ios-arrow-back" class="back" (tap)="userProvider.back()"></ion-icon>
        <span class="cmt">Payment</span>
        <ion-icon name="ios-close-outline" class="close" (tap)="goToHome()"></ion-icon>
    </nav>
    <div class="content" padding>
        <div class="instruct">
            Please choose a payment method
        </div>
        <div class="card-holder">
            <div class="cd" *ngFor="let card of cards" (tap)="selectCard(card)">
                <img *ngIf="card.cardType == 'MASTERCARD'" src="../assets/imgs/mastercard.png" alt="" class="logo">
                <img *ngIf="card.cardType == 'VISA'" src="../assets/imgs/visa.png" alt="" class="logo">
                <span class="card-num">**** **** **** {{card.cardNumber}}</span>
            </div>
            <div class="cd space">
                <img src="../assets/imgs/visa.png" alt="" class="logo">
                <span class="card-num">**** **** **** 2039</span>
            </div>
        </div>

        <button class="new" (tap)="goToAddCard()">New Card</button>
    </div>

    <div align="center">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
    </div>
<<<<<<< HEAD
    <button class="fw" (tap)="goToOrderNotes()">Pay N18,987</button>
=======

    <button class="fw" [disabled]="loading" (tap)="pay()">Pay &#x20A6;{{order.total}}</button>
>>>>>>> 43c85df142951eebb9a1203bc39a86e2fff1589c
</ion-content>
