page-success {
    .green{
        color: #ffffff;
        padding-top: 39px;
        padding-bottom: 90px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: url(../assets/imgs/oval.svg)center center no-repeat;
        background-size: 100% 100%;
    }
    .awe{
        font-weight: bold;
        font-size: 2.3em;
        text-align: center;
    }
    img{
        max-width: 200px;
    }
    .note{
        font-size: 12px;
        margin-right: auto;
        margin-left: auto;
        width: 62%;
        text-align: center;  
    }
    .bbt{
        width: 80%;
        display: block;
        padding: 20PX 0;
        background-color: #0F6B3D;
        text-align: center;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
        font-weight: 400;
        border-radius: 4px ;
        -webkit-border-radius: 4px ;
        -moz-border-radius: 4px ;
        -ms-border-radius: 4px ;
        -o-border-radius: 4px ;
    }
    .bbt:hover,.bbt:active,.bbt:focus{
        background-color: #0F6B48;
        font-weight: 500;
        transition: all ease 300ms;
        -webkit-transition: all ease 300ms;
        -moz-transition: all ease 300ms;
        -ms-transition: all ease 300ms;
        -o-transition: all ease 300ms;
        outline: none;
    }

}
