<!--
  Generated template for the SuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <section class="content">
      <div class="green">
        <div class="awe">
            Awesome
        </div>
        <div class="image">
          <img src="../assets/imgs/tick.svg" alt="">
        </div>
        <div class="note">
            Your payment was successful. Thank you for your business. The merchant will deliver your goods to you.
        </div>
      </div>
      <button class="bbt"(tap)="goToHome()">DONE</button>

  </section>
 

</ion-content>
