<!--
  Generated template for the MoodItemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mood Posts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="details">
        <p class="name">Name - {{mood.name}}</p>
        <p class="description">Description - {{mood.description}}</p>
        <p class="date">Date Created - {{mood.created_at}}</p>
        <p class="count">No of posts - {{mood.posts.length}}</p>
    </div>
  <div class="moods row">

      <div (press)="deleteMoodPost(post)" *ngFor="let post of mood.posts" (tap)="goToPost(post)" class="mood" col-6>
          <div align="center">
              <img [src]="post.files[0].file" src="assets/imgs/3.jpg">
          </div>
      </div>

  </div>


</ion-content>

