page-mood-items {

        .mood img{
          max-height: 200px;
        }
        .mood .mhead{
          font-weight: 700;
          text-align: center;
        }
      
        .mood .count{
          text-align: center;
        }
      
      
      }
