<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <nav>
      <ion-icon name="ios-close-outline" class="close" (tap)="userProvider.back()"></ion-icon>
    </nav>
  <section class="content" padding>
  <div class="title">
    <div class="t1"><i class="flaticon-avatar"></i></div>
    <div class="t2"><span>USER <br> SIGN UP</span></div>
  </div>
  <form action="">
      <div class="form-group">
        <input type="text" placeholder="Username" name="username" [(ngModel)]="username">
        <ion-icon name="ios-person-outline" class="rotate"></ion-icon>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Your name" name="name" [(ngModel)]="name">
        <ion-icon name="ios-person-outline" class="rotate"></ion-icon>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Phone" name="phone" [(ngModel)]="phone">
        <ion-icon name="ios-person-outline" class="rotate"></ion-icon>
      </div>

      <div class="form-group">
          <input type="email" placeholder="Email" name="email" [(ngModel)]="email" >
          <ion-icon name="ios-mail-outline" class="rotate"></ion-icon>
      </div>
      <div class="form-group">
          <input type="password" placeholder="Password" name="password" [(ngModel)]="password">
          <ion-icon name="ios-key-outline" class="rotate"></ion-icon>
      </div>
      <div class="form-group">
          <input type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword">
          <ion-icon name="ios-key-outline" class="rotate"></ion-icon>
      </div>

  </form>
      <div align="center">
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      </div>

  <button class="signin" [disabled]="loading" (tap)="signUp()">SIGN UP</button>
</section>

</ion-content>
