page-productdetails {
    a{
        color: unset;
        text-decoration: none;
    }
    nav {
        height: 50px;
        display: grid;
        grid-template-columns: [one] auto [two];
        grid-template-rows: [rone] auto [rtwo];
        align-items: center;
        padding: 0 16px;
        margin-bottom: 10px;
    }

    .cmt{
        justify-self: center;
        grid-column: one/two;
        grid-row: rone/rtwo;
        color: #0F6B3D;
        font-size: 1.21em;
        font-weight: 500;
    }
    .add{
        justify-self: right;
        grid-column: one/two;
        grid-row: rone/rtwo;

    }
    .back{
        justify-self: left;
        grid-column: one/two;
        grid-row: rone/rtwo;

    }
    .flaticon-shopping-bag:before {
        font-size: 22px;
        margin-left: 0;
    }
    .ion-ios-arrow-back:before{
        font-size: 25px;
    }

    .content{
        min-height: 100vh;
    }
    .tagger{
        display: grid;
        grid-template-columns: [pic] 40px [name] auto [price] 70px ;
        grid-gap: 10px;
    }
    .pm1{
        width:100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .profile{
        justify-self: left;
        align-self: center;
    }
    .more{
        justify-self: right;
    }
    .price{
        font-size: 11px;
        background-color: #0F6B3D;
        border-radius: 4px;
        color: #ffffff;
        display: inline-block;
        justify-self: right;
        padding: 5px 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        font-weight: bold;
    }
    .ngn{
        font-size: 11px;
    }
    .ptime{
        color: #9B9B9B;
        font-size: 10px;
    }
    .pname{
        margin: 0px;
        font-size: 14px;
        color:  #4A4A4A;
        line-height: normal;
    }
    .upload{
        margin-top: 12px;
        width: 100%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin-bottom: 5px;
    }
    .opt1,.opt2 {
        display: flex;
        align-items: center;
        padding: 7px 0;

    }
    .opt2{
        border-left: 1px solid #F1F1F1;
        border-right: 1px solid #F1F1F1;
        justify-content: center;
    }
    .opt {
        display: grid;
        grid-template-columns: 23% 25% 52%;
        margin-bottom: 1em;
        border-top: 1px solid #DCDCDC;
        border-bottom: 1px solid #DCDCDC;
        padding: 0 16px;
    }
    .opt3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
    }
    .price{
        font-size: 11px;
        background-color: #0F6B3D;
        border-radius: 4px;
        color: #ffffff;
        display: inline-block;
        justify-self: right;
        padding: 5px 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        font-weight: bold;
    }
    ion-icon::before {
        display: inline-block;
        margin-right: 5px;
        font-size: 23px;
    }
    .heart:hover .ion-md-heart-outline:before,.heart:active .ion-md-heart-outline:before {
        color: #FF6265;
        content: "\f308";
        text-decoration: none;
        transition: all ease-in-out 300ms;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
    }
    .flat:hover .flaticon-star:before,.flat:hover .flaticon-star:before {
        color: #FFD700;
        content: "\f105";
        text-decoration: none;
        transition: all ease-in-out 300ms;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;

    }
    .flat:hover .flaticon-chat-comment-oval-speech-bubble-with-text-lines:before,
    .flat:hover .flaticon-chat-comment-oval-speech-bubble-with-text-lines:before {
        color:#0F6B3D;
        text-decoration: none;
        transition: all ease-in-out 300ms;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;

    }

    a:active,a:hover{
        text-decoration: none;
        color: unset;
    }
    .count{
        font-size: 12px;
        font-weight: 300;
        vertical-align: super;
        color: #9A9A9A;
    }
    .flaticon-chat-comment-oval-speech-bubble-with-text-lines:before,
    .flaticon-star:before {
        margin-left: 0;
        margin-right: 5px;
        display: inline-block;
    }
    .review {
        display: flex;
        justify-content: space-between;
        padding: 0px 16px;
        align-items: center;
        margin-bottom: 20px;
    }
    .reviews {
        font-size: 0.85em;
        color: #9A9A9A;
    }
    .arev,.arev:hover,.arev:active,.arev:focus {
        color: #0F6B3D;
        font-size: 1em;
        font-weight: 500;
        outline: none;
        background-color: #FFFFFF;
    }
    .event{
        margin-bottom: 2em;
    }
    .tagger2{
        display: grid;
        grid-template-columns: [pic] 35px [name] auto  ;
        grid-gap: 5px;
    }
    .pm2{
        width:100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .comments{
        font-size: 13px;
    }
    .poster{
        font-weight: 700;
        display: block;
        margin-bottom: 3px;
        font-size: 14px;
    }
    .fw{
        width: 100%;
        color: #FFFFFF;
        padding: 20px 0;
        background-color: #0F6B3D;
        position: sticky;
        bottom: 0;
    }


  }


