<!--
  Generated template for the ProductdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <nav>
        <ion-icon name="ios-arrow-back" class="back" (tap)="userProvider.back()"></ion-icon>
        <span class="cmt">Details</span>
        <ion-icon name="ios-cart-outline" class="close" (tap)="goToCart()"></ion-icon>
    </nav>
    <div class="content">
        <p class="noimage" align="center" *ngIf="post.files.length <= 0">No image yet. Please take a photo</p>

        <section padding>
            <div class="tagger">
                <img src="../assets/imgs/bit.png" alt="" class="pm1">
                <div class="profile">
                    <h4 class="pname">{{post.customer.name}}</h4>
                    <div class="ptime">{{post.since}}</div>
                </div>
                <ion-icon name="ios-more" class="more"></ion-icon>
            </div>
            <ion-slides [pager]="true" zoom="true" class="post-slides" pager="false" *ngIf="post.files.length > 0">
                <ion-slide *ngFor="let file of post.files">
                    <img [src]="file.file" class="upload"/>
                </ion-slide>
            </ion-slides>

        </section>
        <div class="opt">
            <div class="opt1">
                 <span class="heart">
                <ion-icon name="heart" *ngIf="!likeLoading && post.isLiked" color="danger"
                          (tap)="unlike(post.pid)"></ion-icon>
                <ion-icon name="heart-outline" (tap)="like(post.pid)" *ngIf="!likeLoading && !post.isLiked"></ion-icon>
                <ion-spinner *ngIf="likeLoading"></ion-spinner>
                <span class="count">{{post.likes.length}}</span>
            </span>

            </div>

            <div class="opt2" *ngIf="post.isProduct == 1">
                <span class="flat"><ion-icon name="ios-chatbubbles-outline"></ion-icon>
                  <span class="count">{{post.noOfReviews}}</span>
                </span>
            </div>

            <div class="opt2" *ngIf="post.isProduct == 0">
                <span class="flat"><ion-icon name="ios-chatbubbles-outline" ></ion-icon>
                  <span class="count">{{post.noOfComments}}</span>
                </span>
            </div>


            <div class="opt3">
                <span class="flat">
                    <ion-icon name="ios-bookmark-outline"></ion-icon>
                </span>
                <button class="price" *ngIf="post.isProduct == 1">&#x20A6;{{post.price}}</button>
            </div>
        </div>
        <div class="review">
            <div (tap)="addReview()" class="reviews" *ngIf="post.isProduct == 1">
                <span class="crev">Show all {{post.noOfReviews}}</span>
                <span class="rev">Reviews</span>
            </div>
            <div (tap)="addComment()" class="reviews" *ngIf="post.isProduct == 0">
                <span class="crev">Show all {{post.noOfComments}}</span>
                <span class="rev">Comments</span>
            </div>
            <button class="arev" (tap)="addReview()" *ngIf="post.isProduct == 1">Add Review</button>
            <button class="arev" (tap)="addComment()" *ngIf="post.isProduct == 0">Add Comment</button>

        </div>



        <section class="comments" padding  *ngIf="post.isProduct == 1">
            <section class="event" *ngFor="let review of reviews">
                <div class="tagger2" *ngIf="review.customer">
                    <img *ngIf="!review.customer.image" src="../assets/imgs/default.jpg" alt="" class="pm2">
                    <img *ngIf="review.customer.image" [src]="review.customer.image" alt="" class="pm2">
                    <div class="comments">
                        <span class="poster">{{review.customer.name}}</span>
                        <span class="comm">{{review.review}}</span>
                    </div>
                </div>
            </section>
            <!--<section class="event">-->
                <!--<div class="tagger2">-->
                    <!--<img src="../assets/imgs/bit16.png" alt="" class="pm2">-->
                    <!--<div class="comments">-->
                        <!--<span class="poster">Rey Mibourne</span>-->
                        <!--<span class="comm">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</section>-->
        </section>


        <section class="comments" padding  *ngIf="post.isProduct == 0">
            <section class="event" *ngFor="let comment of comments">
                <div class="tagger2" *ngIf="comment.customer">
                    <img *ngIf="!comment.customer.image" src="../assets/imgs/default.jpg" alt="" class="pm2">
                    <img *ngIf="comment.customer.image" [src]="comment.customer.image" alt="" class="pm2">
                    <div class="comments">
                        <span class="poster">{{comment.customer.name}}</span>
                        <span class="comm">{{comment.comment}}</span>
                    </div>
                </div>
            </section>
            <!--<section class="event">-->
                <!--<div class="tagger2">-->
                    <!--<img src="../assets/imgs/bit14.png" alt="" class="pm2">-->
                    <!--<div class="comments">-->
                        <!--<span class="poster">Oscar de la Cavallería</span>-->
                        <!--<span class="comm">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</section>-->
        </section>
    </div>
    <button class="fw" *ngIf="post.isProduct == 1" (tap)="customize()">Buy this Item</button>

</ion-content>
