page-signupsell {
    nav {
        height: 50px;
        display: grid;
        grid-template-columns: [one] auto [two];
        grid-template-rows: [rone] auto [rtwo];
        align-items: center;
        margin-bottom: 10px;
    }
    .close{
        justify-self: right;
        grid-column: one/two;
        grid-row: rone/rtwo;
        
    }
    .ion-ios-close-outline:before {
        margin-right: 10px;
        font-size: 2.5em;
    }
    .title{
       color: #0F6B3D;
       display: flex;
       align-items: center;
       margin-bottom: 3em;
    }
    .flaticon-001-shopping-bag:before {
        font-size: 3.6em;
        margin-left: 0;
        margin-right: 10px;
    
    }
    .t2{
        font-weight: 600;
        line-height: normal;
        margin-top: 20px;
        font-size: 1.22em;
    }
    form{
        margin-bottom: 100px;
    }
    .form-group{
        border-bottom: 1px solid #DCDCDC;
        padding: 0.88em;
        display: flex;
        align-items: center;
        position: relative;
    }
    input {
        border: 0;
        width: 100%;
        margin-left: 1.5em;
    }
    input:focus::placeholder{
        opacity: 0;
        transition: all ease-in-out 300ms;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
    }
      input:focus + .rotate {
        color: #0F6B3D;
        transition: all ease-in-out 300ms;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
    }
    .rotate {
        display: inline-block;
        font-size: 2.2em;
        position: absolute;
        left: 0;
    }
    button{
        margin-bottom: 1.50em;
        text-align: center;
        display: block;
        padding: 1em 0;
        width: 100%;
        color: #ffffff;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    .signin{
       background-color: #0F6B3D;
    }

}
