<!--
  Generated template for the SignupsellPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content >
    <nav>
      <ion-icon name="ios-close-outline" class="close" (tap)="userProvider.back()"></ion-icon>
    </nav>
    <section class="content" padding>
        <div class="title">
          <div class="t1"><i class="flaticon-001-shopping-bag"></i></div>
          <div class="t2"><span>SELLER <br> SIGN UP</span></div>
        </div>
        <form action="">
            <div class="form-group">
              <input type="text" placeholder="Username" >
              <ion-icon name="ios-person-outline" class="rotate"></ion-icon>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" >
                <ion-icon name="ios-key-outline" class="rotate"></ion-icon>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" >
                <ion-icon name="ios-key-outline" class="rotate"></ion-icon>
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email" >
                <ion-icon name="ios-mail-outline" class="rotate"></ion-icon>
            </div>
        </form>
        <button class="signin"  (tap)="home()">SIGN UP</button>
      </section>

</ion-content>
