<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <nav>
        <ion-icon name="ios-arrow-back" class="back" (tap)="userProvider.back()"></ion-icon>
        <span class="cmt">Comments</span>
        <ion-icon name="ios-mail-outline" class="close" (tap)="goToMessages()"></ion-icon>
    </nav>
    <div class="content" padding>

        <section class="event" *ngFor="let comment of comments">
            <div class="tagger" *ngIf="comment.customer">
                <img *ngIf="!comment.customer.image" src="../assets/imgs/default.jpg" alt="" class="pm1">
                <img *ngIf="comment.customer.image" [src]="comment.customer.image" alt="" class="pm1">
                <div class="comments">
                    <span class="poster">{{comment.customer.name}}</span>
                    <span class="comm">{{comment.comment}}</span>
                </div>
            </div>
        </section>

        <!--<section class="event">-->
            <!--<div class="tagger">-->
                <!--<img src="../assets/imgs/bit.png" alt="" class="pm1">-->
                <!--<div class="comments">-->
                    <!--<span class="poster">Nefisat Shaibu</span>-->
                    <!--<span class="comm">Chilli-Red Laporte Bag. All the way from the United States of America. This Bag is hawt, limted  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
    </div>
    <section class="type-field">
        <div class="holder">
            <textarea placeholder="Type Comment" [(ngModel)]="comment" class="scroll"></textarea>
            <div class="icon-holder">
                <ion-icon name="ios-happy-outline"></ion-icon>
                <ion-icon name="md-send" class="sc" (tap)="addComment()"></ion-icon>
            </div>
        </div>
    </section>


</ion-content>
